extends ./admin-layout

block content
  h1 #{ title ? title : 'Messages' }

  if messages.length === 0
    p There are no messages.
  else
    .float-right
      form.form-inline(action=`/admin/messages?_method=DELETE` method='POST')
        input(name='messages' type='hidden' value=messageIds)
        button.btn.btn-primary(type='submit') Delete All

    nav(aria-label='messages pagination')
      ul.pagination
        li.page-item(class=(currentPage === 1) ? 'disabled' : '')
          a.page-link(href='?page=' + (currentPage - 1) aria-label='Previous')
            span(aria-hidden='true') &laquo;
            span.sr-only Previous
        each page in pages
          if page !== 0
            li.page-item(class=currentPage === page ? 'active' : '')
              a.page-link(href='?page='+(page))= page
          else
            li.page-item.disabled
              a.page-link(href='#') ...
        li.page-item(class=(currentPage === pages[pages.length - 1]) ? 'disabled' : '')
          a.page-link(href='?page=' + (currentPage + 1) aria-label='Next')
            span(aria-hidden='true') &raquo;
            span.sr-only Next

    table.table.table-hover
      thead
        tr
          th(scope='col' colspan='2') action
          th(scope='col') id
          th(scope='col') globalPosition
          th(scope='col') traceId
          th(scope='col') userId
          th(scope='col') stream name
          th(scope='col') category
          th(scope='col') identity id
          th(scope='col') type
          th(scope='col') time)
      tbody
        each message in messages
          tr
            td
              form.form-inline(action=`/admin/messages/${message.id}?_method=DELETE` method='POST')
                button.btn.btn-secondary(type='submit') delete
            td
              form.form-inline(action=`/admin/messages/${message.id}` method='POST')
                button.btn.btn-secondary(type='submit') resend
            td
              a(href=`/admin/messages/${message.id}`)= message.id
            td= message.globalPosition
            td
              a(href=`/admin/correlated-messages/${message.metadata && message.metadata.traceId}`)= message.metadata && message.metadata.traceId
            td
              a(href=`/admin/user-messages/${message.metadata && message.metadata.userId}`)= message.metadata && message.metadata.userId
            td
              a(href=`/admin/streams/${message.streamName}`)= message.streamName
            td
              a(href=`/admin/categories/${message.category}`)= message.category
            td
              a(href=`/admin/entities/${message.identityId}`)= message.identityId
            td
              a(href=`/admin/type-messages/${message.type}`)= message.type
            td= message.time
